*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, input, button, select, textarea{
    font-family: 'Poppins', sans-serif;
}

body{
    background: rgba(229, 229, 229, 1);
}

body::before{
    content: ''; /*conteudo vazio*/
    width: 100%;
    height: 368px;

    position: absolute; /*fica em uma posicao fixa em relacao a pagina*/
    top: 0; /*deixar a caixa colada no topo da pagina*/
    left: 0; /*deixar a caixa colada no topo da pagina*/
    z-index: -1; /*para o backgroud black ficar atras do texto*/
    background: #121214;
}

.page{
    width: 736px;
    margin: auto;
}

header{
    width: 319px;

    margin-top: 74px;
}

header h1{
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px; /*altura da linha*/
    color: white;

    margin-bottom: 24px;
}

header p {
    color: rgba(66, 211, 255, 1);
    line-height: 26px;
    font-size: 16px;
}

form{
    margin-top: 38px;
    background: #FAFAFC;
    border-radius: 8px;
    min-height: 300px;

    padding: 64px;
}

fieldset{
    border: none;
}

.fieldset-container{   
    display: flex;
    flex-direction: column;
    gap: 24px;
}

fieldset legend{
    font-family: 'Archivo' sans-serif;
    font-weight: 600px;
    font-size: 24px;
    line-height: 34px;

    width: 100%;
    border-bottom: 1px solid #E6E6F0;
    padding-bottom: 16px;
}

.container{
   display: flex;
   flex-direction: column; 
}

.container label{
    font-size: 14px;
    line-height: 24px;

    color: #4E4958;
    margin-bottom:8px ;
}

.container label span{
    margin-left: 12px;  

    font-size: 12px;
    line-height: 20px;
    
    color: #c1bccc;
}

.container input {
    background: #FAFAFC;

    border: 1px solid #E6E6F0;
    border-radius: 8px;

    height: 56px;
    
    padding: 0 24px;

    font-size: 16px;
    line-height: 26px;

    color: #c1bccc;
}